<footer id="footer">

  <div class="container">

    <div class="row justify-content-between">
      
      <div class="col-sm-12 col-md-5">
        <h4 class="footer-title">About EvilPlanet</h4>
        <p>About EvilPlanet Setup in 2003 EvilPlanet is a community dedicated to the video game Evil Genius, a mix of RTS and Simulation Evil Genius is a truly unique and brilliant game that stands the test of time. Released in 2004 in captured our evil imaginations and allowed us to plan nefarious schemes of world domination</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4 class="footer-title">Subscribe</h4>
        <p>Subscribe to our newsletter and get notification when new games are available.</p>

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="https://evilgenius2.us7.list-manage.com/subscribe/post?u=7febe5f7817f75d760529b9a6&amp;id=236308c38b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="input-group m-t-25"><input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Email" required>
            <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"></span>
            </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input   type="text" name="b_7febe5f7817f75d760529b9a6_236308c38b" tabindex="-1" value=""></div>
          </form>
          </div>

        </div>

        <!--End mc_embed_signup-->

      </div>

    </div>

    <div class="footer-bottom">
      <p><a href="index.html" title="EvilPlanet">EvilPlanet</a> 2013 to 2017.<br/> In NO way affiliated with Elixir Studios, Vivendi, Sierra or Rebellion<br/><a href="mailto:webmaster@evilplanet.com" title="webmaster@evilplanet.com" class="d-block">webmaster@evilplanet.com</a></p>
    </div>

  </div>

</footer>