---
layout: default
---

<section class="p-0">
  <div class="full-height text-center">
    <img src="{{ '/assets/img/carousel/main-slide.jpg' | relative_url }}" class="img-fluid"  alt="Evil Genius">
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <ul>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}"><b>{{ post.title }}</b></a>
            {{ post.excerpt }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
